@using OrchardHUN.Shoutbox

@{
    Style.Require("Shoutbox");
    var shoutbox = (Orchard.ContentManagement.IContent)Model.ContentItem;
}

<div id="@Html.ShoutboxMessageContainerId(shoutbox)" class="orchardhun-shoutbox-messages">
    @Display(Model.MessageListShape)
</div>