@model OrchardHUN.Shoutbox.ViewModels.ShoutboxMessageViewModel

<ul class="orcharhun-shoutbox-message-list">
@foreach (var messageShape in Model.MessageShapes)
{
    <li>
        @Display(messageShape)
    </li>
}
</ul>