.orcharhun-shoutbox-message-list
{
    list-style-type: none;
}

.orcharhun-shoutbox-message-list li
{
    border-top: 1px dotted #000;
    margin: 5px 0;
}

.orcharhun-shoutbox-message-list li:first-child
{
    border-top: 0;
}

.orcharhun-shoutbox-message-list .metadata
{
    margin: 0;
}

.orchardhun-shoutbox-form
{
    width: 100%;
    margin-top: 15px;
    text-align: center;
}

.orchardhun-shoutbox-form fieldset
{
    margin: 0 auto;
}

.orchardhun-shoutbox-form input[readonly]
{
    background: #ccc;
}